@font-face {
  font-family: "iconfont"; /* Project id 2756626 */
  src: url('iconfont.woff2?t=1629723448271') format('woff2'),
       url('iconfont.woff?t=1629723448271') format('woff'),
       url('iconfont.ttf?t=1629723448271') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-bofang1:before {
  content: "\e610";
}

.icon-xunhuan:before {
  content: "\e61f";
}

.icon-pinglun:before {
  content: "\e608";
}

.icon-checkbox:before {
  content: "\e80d";
}

.icon-fenxiang:before {
  content: "\e6d1";
}

.icon-xiazai:before {
  content: "\e6d2";
}

.icon-liebiao-dian:before {
  content: "\e6b2";
}

.icon-fanhui:before {
  content: "\e684";
}

.icon-wenhao:before {
  content: "\e605";
}

.icon-vip:before {
  content: "\e60b";
}

.icon-bofangliebiao:before {
  content: "\e6a7";
}

.icon-bofang2:before {
  content: "\f470";
}

.icon-icon-:before {
  content: "\e615";
}

.icon-tuijian:before {
  content: "\e62f";
}

.icon-sousuo:before {
  content: "\e647";
}

.icon-liebiao:before {
  content: "\e640";
}

.icon-gedan:before {
  content: "\e66a";
}

.icon-bofang:before {
  content: "\e60e";
}

.icon-iconfront-:before {
  content: "\e60c";
}

.icon-airec:before {
  content: "\e935";
}

.icon-paihangbang:before {
  content: "\e607";
}

.icon-liebiao1:before {
  content: "\e81c";
}

